@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #36365C;
  background-color: #5039DE;
}

h1 {
    color: red;
}

.student-li {
    cursor: pointer;
    position: relative;
}

.delete-student-text {
    /* position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
    opacity: 0; 
    /* transition: opacity 0.3s ease;  */
    /* pointer-events: none; */
    margin-left: 1rem;
}

.student-li:hover .delete-student-text {
    opacity: 1;
}


#appGrid {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#GridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.studentBox {
  text-align: center;
  margin: 1em;
  border-style: solid;
  border-color: #66E6D6;
  background-color: #FFFFFF;
}

.borderBox {
  background-color: #FFFFFF;
  border-color: #66E6D6;
  border-style: solid;
  height: 100%;
}

.centerElement {
  width: fit-content;
  margin: auto;
}

.centerText {
  text-align: center;
}

